body {
    background: #2575fc;
    background: -webkit-linear-gradient(left, #6a11cb, #2575fc);
    background: -o-linear-gradient(left, #6a11cb, #2575fc);
    background: -moz-linear-gradient(left, #6a11cb, #2575fc);
    background: linear-gradient(left, #6a11cb, #2575fc);
}


/*colors das grids do agendamento*/

.back-grid {
    background-color: black!important;
}

.op-vermelha {
    background-color: crimson;
}

.back-gridrow1 {
    background-color: white!important;
}

.back-gridrow2 {
    background-color: #add8e6!important;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

#telaLogin {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(0, 0, 27);
}

#divBusca {
    background-color: #fff;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
    height: 30px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}

.busca img {
    height: 30px;
}

.imgSeta img {
    height: 26px;
}

#esquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.corFundoNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.corFundoNav ul li {
    margin: 0;
    padding: 0;
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.corFundoNav ul li a {
    display: block;
    border-radius: 3px;
    color: #333;
    background: none;
    min-width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 5px;
}

.corFundoNav ul li a:hover,
.corFundoNav ul li a.selected {
    background: #000000;
    color: #fff;
    text-decoration: none;
}

.corFundoNav ul li img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.corFundoNav ul li a.next,
.corFundoNav ul li a.prev {
    background: transparent;
    opacity: 0.5;
}

.corFundoNav ul li a.next:hover,
.corFundoNav ul li a.prev:hover {
    opacity: 1;
}

.corFundoNav ul li a.dots {
    background: transparent;
    color: #434343;
}

.corFundoNav ul li a.dots:hover {
    color: #434343;
    cursor: default;
}

.botaoShutdown img {
    height: 40px;
    width: 40px;
}